@import "../../css/variable.scss";

.editProfileForm {
    background-color: #ffffff99;
        
    .editProfile__wrapper {
        padding: 16px;
        border-radius: 8px;
    }

    .editProfile__button--wrapper {
        position: fixed;
        bottom: 20px;
        width: 84%;
        z-index: 999;
        margin-left: 8%;

        .zaui-btn {
            font-size: 15px;
            font-weight: 700;
            line-height: 20px;
            text-align: center;
            font-family: $font-family-moranga-bold;
        }

        .editProfile__button--top {
            flex: 1;
            background-color: #fff4f3;
            border: 1px solid #da291c;
            color: #da291c;
            margin-right: 4px;
        }

        .editProfile__button--bottom {
            flex: 1;
            background-color: #da291c;
            color: white;
            margin-left: 4px;
        }
    }

    .label__required {
        color: rgba(220, 31, 24, 1);
    }
}