$primary-color: #006af5;
$text-primary: #141415;
$text-secondary: #767a7f;
$text-disable: #b9bdc1;
$text-white: #ffffff;
$text-red: #da291c;

$icon-01: #141415;
$icon-02: #767a7f;
$icon-03: #b9bdc1;
$icon-04: #ffffff;

$page-bg-default: #e9ebed;
$page-bg-white: #ffffff;
$page-bg-gray: #f4f5f6;
$page-bg-red: #da291c;

$border-01: #e9ebed;
$border-02: #d6d9dc;
$border-danger: #dc1f18;
$border-selected: #006af5;

$corner_04: 4px;
$corner_08: 8px;
$corner_12: 12px;
$corner_16: 16px;
$corner_100: 9999px;

$font-family-moranga-bold: "MorangaBold";
$font-family-moranga: "Moranga";
$font-family-baton: "BatonTurbo";